SECRET_KEY=super_secret_military_key
MONGO_URI=mongodb://localhost:27017
MONGO_DB=military_comm_system
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=alert@military-secure.com
EMAIL_PASSWORD=change_this_password
